<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/comienzo" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Recuperación de Contraseña</ion-card-subtitle>
      <ion-card-title>Introduce tu correo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Correo Electrónico: </ion-label>
        <ion-input [(ngModel)]="email" type="email" placeholder="Ingrese su correo" name="correo"></ion-input>
      </ion-item>

      <div style="text-align: center; margin-top: 20px;">
        <ion-button (click)="sendRecoveryEmail()" fill="solid" shape="round" color="primary">
          Enviar Correo de Recuperación
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-img src="assets/img/duoc.png" style="width: 100%; height: auto;"></ion-img>
    
    <ion-buttons slot="end">
      
      <ion-button fill="clear">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>